.my_nav {
    background-color: #2c3e50;
}

header {
    background-color: #1abc9c;

    /* test */
    height: 588px;
    width: 100vw;
}

.header_img {
    /* test */
    width: 230px;
    height: 250px;
}

.about {
    background-color: #1abc9c;
}

hr {
    opacity: 1;
}

footer {
    background-color: aquamarine;
}


/* to fix all hr */